extends navbar

block content2
  h1 Registro de Alimentos

  // Mensajes de éxito o error
  if success
    p.success= success
  if error
    p.error= error

  // Formulario para registrar comidas
  form#registroForm(action='/registro/registrar', method='POST') 
    input(type='hidden', name='usuario_id', value=usuario_id)

    label(for='fecha') Fecha
    input.input-field(type='date', id='fecha', name='fecha', required)

    label(for='comida') Nombre de la Comida
    input.input-field(type='text', id='comida', name='comida', required)

    label(for='calorias') Calorías
    input.input-field(type='number', id='calorias', name='calorias', required)

    label(for='proteinas') Proteínas
    input.input-field(type='number', id='proteinas', name='proteinas', step='0.01', required)

    label(for='carbohidratos') Carbohidratos
    input.input-field(type='number', id='carbohidratos', name='carbohidratos', step='0.01', required)

    label(for='grasas') Grasas
    input.input-field(type='number', id='grasas', name='grasas', step='0.01', required)

    button(type='submit') Registrar Comida

  // Tabla para mostrar las comidas registradas
  if comidas && comidas.length > 0
    .table-container
     h2.text-center Tus comidas registradas
      table.table-styled
        thead
          tr
            th Fecha
            th Comida
            th Calorías
            th Proteínas
            th Carbohidratos
            th Grasas
        tbody
          each comida in comidas
            tr
              td= new Date(comida.fecha).toLocaleDateString()
              td= comida.comida
              td= comida.calorias
              td= parseFloat(comida.proteinas).toFixed(2)
              td= parseFloat(comida.carbohidratos).toFixed(2)
              td= parseFloat(comida.grasas).toFixed(2)
  else
    p.text-center No hay comidas registradas todavía.

